@page
@model Advertises.Pages.Roles.EditModel
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Account/_Layout.cshtml";
}


<div class="row justify-content-center">
<div class="col-5 text-center shadow p-3 mb-5 bg-white rounded">
    <form method="post" class=" col-md-8 m-auto justify-content-center">
        <h1>ویرایش </h1>
        <div>
            <label>عنوان</label>
            <input type="text" asp-for="MyRole.RoleName" placeholder="عنوان" class="form-control mb-2 text-right" />

        </div>
        <div>

            <input type="hidden" asp-for="MyRole.Id" />
        </div>


        <div>
            <button type="submit" class="btn btn-primary">
                ذخیره

            </button>

        </div>
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
    </div>

