@page
@model Advertises.Pages.Roles.IndexModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Account/_Layout.cshtml";
}

<h1>Index</h1>
<p>
    <a asp-page="Add">Create New</a>
</p>
<body>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Roles[0].RoleName)
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Roles)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.RoleName)
                    </td>

                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.RoleId">Edit</a> |
                        |
                        <a asp-page="./Delete" asp-route-id="@item.RoleId">Delete</a>
                    </td>
                </tr>

            }
        </tbody>




    </table>
    <div>
        <div>

        </div>
    </div>
</body>
