################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Advertises
/obj/**
obj
/obj
.idea
/.idea
debug
/debug
bin
/bin
/bin/**
Migrations
/Migrations