@page
@model Advertises.addAdvertisementModel
@{
    ViewData["Title"] = "addAdvertisement";
    Layout = "~/Pages/Account/_Layout.cshtml";
}

<h1>addAdvertisement</h1>
<div class="row">
    <div class="col-5">
        <form method="post">
            <div>
                <input type="text" asp-for="MyAdvertisement.Title" placeholder="نام کالا" />
            </div>

            <div>
                <textarea asp-for="MyAdvertisement.Description">
                    
                </textarea>


            </div>

            <div>
                <input type="number" asp-for="MyAdvertisement.price" />

            </div>
            <div>
                <select id="categoryDp" asp-items="Model.ListCategories" asp-for="SelectedCategory" onchange="categoryChange()"></select>
            </div>
            <div>
                <select id="cityDp" asp-items="Model.ListCities" asp-for="SelectedCity" onchange="cityChange()"></select>
            </div>
            <div>
                <select id="localDp" asp-for="MyAdvertisement.LocalId"></select>
            </div>
            <div>
                <select id="innercategoryDp" asp-for="MyAdvertisement.InnerCategoryId"></select>
            </div>
            <div>
                <button type="submit">
                    درج آگهی

                </button>
            </div>
            <div>


            </div>

        </form>
    </div>

</div>
<script>

    function categoryChange() {
        var bb = $('#categoryDp').val(); 
       
         $.ajax({  
           type: "GET",  
           url: "/Advertisements/addAdvertisement?handler=ChangeCategory&categoryid="+bb,            
           success: function (data) {  
               var s ='';  
               for (var i = 0; i < data.length; i++) {  

                   s += '<option value="' + data[i].id + '">' + data[i].title + '</option>'; 
                   
               }  
               $("#innercategoryDp").html(s);  
           }  
       });  
    }

</script>
<script>

    function cityChange() {
        var aa = $('#cityDp').val();

        $.ajax({
            type: "GET",
            url: "/Advertisements/addAdvertisement?handler=ChangeCity&cityid=" + aa,
            success: function (data) {
                var s = '';
                for (var i = 0; i < data.length; i++) {

                    s += '<option value="' + data[i].id + '">' + data[i].name + '</option>';

                }
                $("#localDp").html(s);
            }
        });
    }

</script>