@page
@using Advertises.Models
@model Advertises.EditModel
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";

}





<h1>Edit</h1>


<div class="row">
    <div class="col-5">
        <form method="post">
            <div class="deleteImage">                             
            </div>
            <div>
                <label>عنوان</label>
                <input type="text" asp-for="MyAdvertisement.Title" placeholder="عنوان" />

            </div>
            <div>
                <label>توضیحات</label>
                <input type="text" asp-for="MyAdvertisement.Description" placeholder="شرح" />
                <input type="hidden" asp-for="MyAdvertisement.Id" />
            </div>
            <label>فعال </label>
            <input type="checkbox" asp-for="MyAdvertisement.IsActive" />
            <div>
                <select asp-items="Model.ListCategories" asp-for="MyAdvertisement.InnerCategoryId"></select>
            </div>
            <div>

                @*@foreach (Image img in Model.MyAdvertisement.Images)*@
                @for(int i=0;i<Model.MyAdvertisement.Images.Count; i++)
                {
                    <div class="advertise_img">

                        <img class="td_Image" src="@("data:image/png;base64," + Convert.ToBase64String(Model.MyAdvertisement.Images[i].File))" />
                        <input type="hidden" asp-for="MyAdvertisement.Images[i].Id" />
                        <div>
                            <span> حذف </span>
                        </div>
                        
                    </div>
                }
            </div>
            <div>
                <button type="submit">
                    ذخیره

                </button>
                <a asp-page="./Index">Back to List</a>
            </div>
        </form>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>


    $(document).ready(function () {

        $('div.advertise_img span').click(function () {
            $(this).parent().parent().remove();
            $('<input>').attr({
                type: 'hidden',                
                name: 'bb'
                }).appendTo('div.deleteImage');
        });
    })

</script>
