@page
@model Advertises.EditModel
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Account/_Layout.cshtml";
}

<h1>Edit</h1>


<div class="row">
    <div class="col-5">
        <form method="post">
            <div>
                <label>عنوان</label>
                <input type="text" asp-for="MyAdvertisement.Title" placeholder="عنوان" />

            </div>
            <div>
                <label>توضیحات</label>
                <input type="text" asp-for="MyAdvertisement.Description" placeholder="شرح" />
                <input type="hidden" asp-for="MyAdvertisement.Id" />
            </div>
            <label>فعال </label>
            <input type="checkbox" asp-for="MyAdvertisement.IsActive" />
            <div>
                <select asp-items="Model.ListCategories" asp-for="MyAdvertisement.CategoryId"></select>
            </div>
            <div>
                <button type="submit">
                    ذخیره

                </button>

            </div>
        </form>
    </div>
</div>
