

body {
    background-color: #f4f4f4;
}

#p1 {
    display: inline-table;
}

.aaa {
    color: #B98A56;
}
/*
.advertise-main {
    width: 100%;
    border-color: darkred;
    height: 90%;
    margin-top:200px;
}
   */


/*.advertise-main {
    width: 100%;
    border-color: darkred;
    height: 90%;
}

.advertise-list {
    display: flex;
    height: 50%;
}

.advertise-item {
    width: 25%;
    border-style: outset;
    border-radius: 20PX;
    display:flex;
}

.advertise-image-size {
    width: 100%;
    overflow-wrap: break-word;
    overflow: hidden;
    border-radius: 10PX;
}

.advertise-div {
    width: 35%;
    height: 50px;
    justify-content: flex-start;
    border-radius: 6px;
}

.advertise-image {
    width: 50%;
    align-items: center;
   
}*/

.advertise-propertis {
    width: 50%;
}
 .td_Image{
     width:50px;
     height:40px;

 }
.bgColor {
    background-color: #f4f4f4;
}