@page
@model Advertises.AddLocalModel
@{
    ViewData["Title"] = "AddLocal";
    Layout = "~/Pages/Account/_Layout.cshtml";
}


<div class="row justify-content-center">
    <div class="col-5">
        <form method="post" class="col-md-8 m-auto justify-content-center shadow p-3 mb-5 bg-white rounded text-center">
            <h1>ایجاد محله جدید</h1>

            <div>
                <input type="text" asp-for="MyLocal.Name" placeholder="" class="form-control" />
                <<span asp-validation-for="MyLocal.Name"></span>
            </div>
            <div>
                <select asp-items="Model.ListCities" asp-for="MyLocal.CityId" class="form-control"></select>
            </div>

            <div>
                <button type="submit" class="btn btn-success mt-3">
                    ذخیره

                </button>

            </div>
            <div>
                <a asp-page="./IndexLocal">Back to List</a>

            </div>

        </form>
    </div>

</div>