@page
@model Advertises.DeleteLocalModel
@{
    ViewData["Title"] = "DeleteLocal";
    Layout = "~/Pages/Account/_Layout.cshtml";
}

<h1>DeleteLocal</h1>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MyLocal.Name): @Model.MyLocal.Name
        </dt>
    </dl>
    <form method="post">
        <input type="hidden" asp-for="MyLocal.Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./IndexLocal">Back to List</a>
    </form>

</div>