@page
@model Advertises.IndexLocalModel
@{
    ViewData["Title"] = "IndexLocal";
    Layout = "~/Pages/Account/_Layout.cshtml";
}

<h1>IndexLocal</h1>
<p>
    <a asp-page="AddLocal">Create New</a>
</p>
<body>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Locations[0].Name)
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Locations)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>

                    <td>
                        
                        |
                        <a asp-page="./Delete" asp-route-id="@item.Id">DeleteLocal</a>
                    </td>
                </tr>

            }
        </tbody>




    </table>
    <div>
        <div>

        </div>
    </div>
</body>
