@page
@model Advertises.RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Pages/Account/_Layout.cshtml";
}


<form method="post">

    <div class="container-fluid ">
        <div class=" col-5 ">
           
        </div>
            <div class=" col-md-4 m-auto justify-content-center">
                <h1 class="text-center">ثبت نام</h1>

                <div class="">
                   
                    <input type="text" asp-for="MyUser.UserName" class=" mb-3 form-control text-right " placeholder="نام کاربری" text-align="center" />
                </div>
                <div>

                    <input type="text" asp-for="MyUser.FirstName" class="mb-3 form-control text-right" placeholder="نام  " text-align="center" />
                </div>
                <div>

                    <input type="text" asp-for="MyUser.LasttName" class="mb-3 form-control text-right" placeholder=" نام خانوادگی " text-align="center" />
                </div>

                <div>
                    <input type="number" asp-for="MyUser.PhoneNumber" class="mb-3 form-control text-right" placeholder="شماره تلفن" text-align=center i ; />
                </div>

                <div>
                    <input type="password" asp-for="MyUser.Password" class="mb-3 form-control text-right" placeholder="رمز عبور" text-align=center ; />
                </div>

                <div>
                    <input type="password" class="mb-3 form-control text-right" placeholder="تکرار رمز عبور" text-align=center ; />
                </div>














                <div>
                    <button type="submit" class="mb-3  btn btn-dark"> ثبت نام</button>
                </div>




                <div>
                    <p id="p1">قبلا ثبت نام کرده اید .</p>

                    <a class="aaa" href="https://GOOGLE.COM">وارد شوید</a>
                </div>
            </div>
        </div>
</form>