@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center" dir="rtl">
    لیست  آگهی ها
    بی خود
    همه اضافیه
</div>
<h1 class="browse__headline">آگهی‌های خرید، فروش نو و دست دوم و کارکرده، استخدام و خدمات</h1>

<div class="container-fluid text-right" dir="rtl">
    <div class="advertise-main">
        @if (Model.Advertisements?.Count > 0)
        {
            <div class="advertise-list ">
                @Model.Advertisements[0].Title
                @foreach (var item in Model.Advertisements)
                {

                    <div class="advertise-item">
                        <div class="advertise-propertis">
                            <div class="advertise-div">
                                @item.Title
                            </div>



                            <div class="advertise-div">
                                @item.Description

                            </div>
                            <div class="advertise-div">
                                @item.price
                            </div>

                        </div>
                        <div class="advertise-image">
                            <img class="advertise-image-size" src="~/download.png" />
                        </div>

                    </div>

                }
            </div>
        }



    </div>
</div>

