@page
@model Advertises.Pages.Users.EditModel
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Account/_Layout.cshtml";
}

<h1>Edit</h1>

<div class="row rtl justify-content-center">
<div class="col-5 shadow p-3 mb-5 bg-white rounded ">
    <form method="post" class="col-md-8 m-auto justify-content-center text-center">
        <div>
            <label>عنوان</label>
            <input type="text" asp-for="MyUser.UserName" placeholder="" class="form-control" />
            <span asp-validation-for="MyUser.UserName"></span>

        </div>
        <div>

            <input type="hidden" asp-for="MyUser.Id" />
        </div>

        <div>
            <div class="Rolevm">
                <h4></h4>
                @for (int i=0;i<Model.MyRoleVm.Count;i++)
                {
                    <input type="hidden" asp-for="MyRoleVm[i].Id" />
                    <input id="chk@(Model.MyRoleVm[i].Name)"
                           type="checkbox"
                           asp-for="@Model.MyRoleVm[i].Selected"
                           
                           checked="@Model.MyRoleVm[i].Selected" />
                    @Model.MyRoleVm[i].Name <br />
                }

            </div>
        </div>
        <div>
            <button type="submit" class="btn btn-primary" >
                ذخیره

            </button>

        </div>
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
    </div>
