@page
@model Advertises.Pages.Cities.EditModel
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Account/_Layout.cshtml";
}

<h1>Edit</h1>
<div class="row">
    <div class="col-5">
        <form method="post">
            <div>
                <label>عنوان</label>
                <input type="text" asp-for="MyCity.Name" placeholder="" />

            </div>
            <div>

                <input type="hidden" asp-for="MyCity.Id" />
            </div>


            <div>
                <button type="submit">
                    ذخیره

                </button>

            </div>
            <a asp-page="./IndexCities">Back to List</a>
        </form>
    </div>
</div>
