@page
@model Advertises.IndexCitiesModel
@{
    ViewData["Title"] = "IndexCities";
    Layout = "~/Pages/Account/_Layout.cshtml";
}

<h1>IndexCities</h1>

<p>
    <a asp-page="Add" class="btn btn-success" >ایجاد یک شهر جدید</a>
</p>
<body>
    <table class="table  rtl">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Cities[0].Name)
                </th>

                <th>
                    ویرایش

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Cities)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>

                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.Id"class="btn btn-primary">Edit</a> |
                        |
                        <a asp-page="./Delete" asp-route-id="@item.Id"class="btn btn-danger">Delete</a>
                    </td>
                </tr>

            }
        </tbody>




    </table>
    <div>
        <div>
            
        </div>
    </div>
</body>