@page
@model Advertises.Pages.InnerCategories.AddModel
@{
    ViewData["Title"] = "Add";
    Layout = "~/Pages/Account/_Layout.cshtml";
}



<div class="row justify-content-center">
    <div class="col-5 shadow p-3 mb-5 bg-white rounded text-center">
        <h1>ایجاد</h1>
        <form method="post" class="col-md-8 m-auto justify-content-center ">
            <div>
                <input type="text" asp-for="MyInnerCategory.Title" placeholder="" class="form-control mb-2" />
            </div>
            <div>
                <select asp-items="Model.ListCategories" asp-for="MyInnerCategory.CategoryId" class="form-control mb-2"></select>
            </div>

            <div>
                <button type="submit" class="btn btn-success mb-4">
                    ذخیره

                </button>

            </div>
            <div>

                <a asp-page="./Index">Back to List</a>
            </div>

        </form>
    </div>

</div>