@page
@model Advertises.AddCategoryModel
@{
    ViewData["Title"] = "addCategory";
    Layout = "~/Pages/Account/_Layout.cshtml";
}

<h1>addCategory</h1>
<div class="row">
<div class="col-5">
    <form method="post">
        <div>
            <input type="text" asp-for="MyCategory.Title" placeholder="" />
        </div>


        <div>
            <button type="submit">
                ذخیره 

            </button>

        </div>
        <div>


        </div>

    </form>
</div>

</div>