@page
@model Advertises.DeleteCategoryModel
@{
    ViewData["Title"] = "DeleteCategory";
    Layout = "~/Pages/Account/_Layout.cshtml";
}
    <div class="text-center">
        <h1 >DeleteCategory</h1>

        <h4>Delete</h4>
    </div>
<hr />
<div class="row rtl justify-content-center">
    <div class="col-5">
        <dl class="dl-horizontal">
            <dt class="text-center">
                @Html.DisplayNameFor(model => model.MyCategory.Title): @Model.MyCategory.Title
            </dt>
        </dl>
        <form method="post" class=" col-md-6 m-auto justify-content-center ">
            <input type="hidden" asp-for="MyCategory.Id" />
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a asp-page="./Index">Back to List</a>
        </form>
    </div>
</div>